*{
  margin: 0;
  padding: 0;
}
body{
  background-image:url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  display: inline-block;
  background-color: white;
  border: 10px solid red;
  width:98.45%;
}

h1{
  display: inline-block;
  color: yellow;
  text-shadow: 2px 2px blue;
}
.leftPokeball{
  float: left;
  display: inline-block;
  width: 100px
}

.rightPokeball{
  float: right;
  display: inline-block;
  width: 100px
}

section img{
  float: left;
  margin-left: 100px;
}

section h2{
  float: right;
  background-color: red;
  padding: 10px 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 50px;
  font-size: 37px;
}

section div{
  background-color: red
}

section h3{
  float: right;
  background-color: red;
  padding: 10px 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 50px;
  font-weight: normal;
  display: block;
}
