*{
  margin: 0;
  padding: 0;
}
body{
  background-image:url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  display: inline-block;
  background-color: white;
  border: 10px solid #ff3333;
  width:100%;
}

h1{
  display: inline-block;
  color: yellow;
  text-shadow: 2px 2px blue;
}
.leftPokeball{
  float: left;
  display: inline-block;
  width: 100px
}

.rightPokeball{
  float: right;
  display: inline-block;
  width: 100px
}

.img{
  float: left;
  margin-left: 100px;
  height: 580px;
}

.h2{
  float: right;
  background-color: #ff3333;
  padding: 10px 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 50px;
  font-size: 37px;
}

.h3{
  float: right;
  background-color: #ff3333;
  padding: 10px 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 50px;
  font-weight: normal;
  display: block;
  clear: right;
}

.pokemonSection{
  background-color: #ff3333;
}

.imageSize{
  width: 320px;
  height: 320px;
}

#part2{
  display: inline-block;
  background-color: #ff3333;
  padding-left: 100px;
  padding-right: 100px;
}

#megaPokemon{
  display: inline-block;
  display: none;
  background-color: #ff3333;
  padding-left: 100px;
  padding-right: 100px;
  z-index: 2;
}

#namegallade{
  text-transform: capitalize;
}

#namelucario{
  text-transform: capitalize;
}

#nameabsol{
  text-transform: capitalize;
}

#trainer_text{
  float: left;
  background-color: white;
  border-radius: 50px;
  border-style: solid;
  border-color: black;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.megaStone{
  border-radius: 360px;
  width: 100px;
  cursor: pointer;
}

.megaStone:hover {
  display: inline;
  width: 110px
}
